body {
    font-family: 'Poppins', sans-serif;
}
.background {
    background-image: url("../images/background.png");
}
.header {
    z-index: 9;
    background-image: url("../images/background.png");
    padding-left: 0px!important;
    padding-right: 0px!important;
}
.header-button {
    margin-right: 10px;
    width: 90px;
    color: #fff;
    background: #2187ff;
    text-decoration: none;
    border-color: #fff;
    border-radius: 4px;
}
.header-button:hover {
    background-color: #fff;
    width: 90px;
}
.header-button-2 {
    margin-right: 23px;
}
.header-button-3 {
    margin-right: 40px;
}
.header-button-link {
    color: #fff;
    border-color: white;
}
.header-button-link:hover {
    color: #2187ff;
}
.header-button:last-child {
    background-color: #2187ff;
    border-color: #fff;
}
.header-logo {
    padding-top: 8px;
    width: 130px;
}
.header-link {
    color: #fff!important;
    font-size: 17px;
    padding-right: 15px!important;
}
.enterence {
    text-align: center!important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    padding: 62px 0px;
}
.title {
    color: #fff;
}
.title-2 {
    color: #fff;
    padding-top: 20px;
    font-size: 50px;
}
.title-3 {
    color: #fff;
    
}
.enterence-image {
    padding-bottom: 21px;
}

/* PRODUCT */
.product {
    text-align: center!important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.product-images {
    width: 223px;

}
.product-button {
    margin: 30px 0px;
}

/* BUY NOW */

.image {
    background: url("../images/finans.png");
    background-position: center;
}
.buynow {
    padding: 100px 50px;
}
.fa-bitcoin {
    color: #f7931a;
    font-size: 16px;
}
.myButton {
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #1e91f8 5%, #1e91f8 100%);
	background-color:#1e91f8;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:flex;
    align-items: center;
    justify-content: center;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
    width: 110px;
    height: 30px;
}
.myButton:hover {
    color: #fff;
}
.myButton:active {
	position:relative;
	top:1px;
}
/* FOOTER */
.background-footer {
    background-color: #fff!important;
}
.footer-link {
    color: #0b0e07;
}
.fa-twitter-square {
    color: #1da1f2;
}
.fa-facebook-square {
    color: #0e8ef2;
}
.fa-linkedin {
    color: #0a66c2;
}
.footer-icon {
    font-size: 30px;
    margin-right: 20px;
}
.footer-size {
    margin-top: 69px;
}

/* SUBSCRİBE */
.subscribe {
    background: url("../images/bg-2.png");
    padding: 77px 100px;
}
.subscribe-title {
    color: #2091F9;
}
.subscribe-input {
    width: 250px;
    display: block;
    margin: 19px auto;
    
}
.subscribe-button {
    width: 250px;
    height: 40px;
    background-image: linear-gradient(to left bottom, #2187ff, #00abff, #00c9ff, #00e0e1, #00f3b9);
    background-position: center;
    border-radius: 8px;
    border: 1px solid #2187ff;
}
.text-color {
    color: #fff;
    opacity: 0.9;
}
.input-container {
    margin-bottom: 17px;
}
.text-padding {
    padding: 40px 0px;
}
.position-container {
    position: relative;
}
.fa-long-arrow-alt-left {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    font-size: 35px;
    color: white;
}
/* CONTACT */
.contact-container {
    padding: 80px 80px;
    background: #252B42;
}
.contact-text-container {
    color: #fff;
}
.contact-and-icon {
    color: #fff;
}
.contact-and-icon i {
    font-size: 30px;
}
.contact-text-color {
    color: #fff;
}
.fa-map-marker-alt {
    padding-top: 50px;
}
.contact-padding-p {
    padding: 10px 0px
}
